@import url("katex.min.css");

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  src: url(fonts/Ubuntu-R.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  font-style: normal;
  src: url(fonts/Ubuntu-L.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  font-style: italic;
  src: url(fonts/Ubuntu-LI.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Thin";
  font-style: normal;
  src: url(fonts/Ubuntu-Th.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  src: url(fonts/UbuntuMono-R.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  src: url(fonts/UbuntuMono-RI.ttf) format("truetype");
}

html {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

body {
  font-family: "Ubuntu";
  font-size: 90%;
}

.header h1 {
  font-size: 2.2rem;
}

.header nav {
  font-family: "Ubuntu Mono";
}

.recent-posts .posts .post {
  margin-bottom: 15px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Thin";
}

.header nav ul.flat li {
  text-transform: none;
}

.post ul li {
  margin-bottom: 0;
}

.highlight {
  border-radius: 5px;
}

pre,
code {
  font-family: "Ubuntu Mono";
}

blockquote {
  border-left: 2px solid;
  padding-left: 15px;
  margin-left: 0;
  font-size: 110%;
  font-family: "Ubuntu Light";
}

li code,
p code {
  border-radius: 2px;
  padding: 2px;
}

img {
  padding: 0;
  border-radius: 5px;
}

.description p {
  display: inline;
}

table th,
table td {
  padding: 8px 15px;
  font-size: 90%;
}

table th {
  font-variant-caps: small-caps;
}

table th:first-child {
  width: 25%;
}

table {
  width: 100%;
}
