@import url("katex.min.css");

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  src: url(fonts/Ubuntu-R.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  font-style: normal;
  src: url(fonts/Ubuntu-L.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  font-style: italic;
  src: url(fonts/Ubuntu-LI.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Thin";
  font-style: normal;
  src: url(fonts/Ubuntu-Th.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  src: url(fonts/UbuntuMono-R.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  src: url(fonts/UbuntuMono-RI.ttf) format("truetype");
}

html {
  --scrollbarBG: black;
  --thumbBG: #ff7979;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  font-family: "Ubuntu";
  font-size: 90%;
}

.header h1 {
  font-size: 2.2rem;
}

.header nav {
  font-family: "Ubuntu Mono";
}

.recent-posts .posts .post {
  margin-bottom: 15px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Thin";
}

.header nav ul.flat li {
  text-transform: none;
}

pre,
code {
  font-family: "Ubuntu Mono";
  color: #ccc;
}

blockquote {
  font-size: 115%;
  font-family: "Ubuntu Light";
}

blockquote code {
  background-color: #333;
}
p code {
  background-color: #333;
  border-radius: 2px;
  padding: 2px;
}

img {
  background-color: #ccc;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #ccc;
  border: solid 1px #666;
}

.description p {
  display: inline;
}
