<div style="text-align: right">
  <img src="http://www.gravatar.com/avatar/d4be2af9a8c02ddaa79d2de987ad91c4"/>
</div>
<div style="text-align: right; font-size: 10pt">Copyright © 2008-2017, Mathieu Schroeter</div>
<div style="float: right">
  {{ partial "footer.html" . }}
</div>
